<div class="catalog-item catalog-item_type_poster">
    <% var movie_id = movie.id + '' + (typeof block !== 'undefined' ? block : '') %>
    <span style="display: none">
        <span id="rate<%- movie_id %>" data-name_item="<%- page.l.rating %>">
            <% if (movie.vote) { %><%- movie.rating / 10 %><% } %>
        </span>
        <span id="sounds<%- movie_id %>" data-name_item="<%- page.l.country %>">
            <%- movie.country %>
        </span>
        <span id="genres<%- movie_id %>" data-name_item="<%- page.l.genres %>">
            <%- movie.genres %>
        </span>
        <span id="description<%- movie_id %>" data-name_item="<%- page.l.storyline %>">
            <%- movie.description %>
        </span>
        <span id="trailer<%- movie_id %>" data-name_item="<%- page.l.trailer %>">
            <% if (page.urls.movies.trailer) { %><%- movie.url %>/<%- page.urls.movies.trailer %><% } %>
        </span>
        <span id="firstEpisodeUrl<%- movie_id %>" data-name_item="<%- page.l.more %>">
            <%- movie.url %>
        </span>
        <span id="aboutSerialLink<%- movie_id %>" data-name_item="<%- page.l.trailer %>">
            <% if (page.urls.movies.trailer) { %><%- movie.url %>/<%- page.urls.movies.trailer %><% } %>
        </span>
    </span>
    <a href="<%- movie.url %>" title="<%= movie.title %>"></a>
    <i class="catalog-item__icon-info" data-serial-id="<%- movie_id %>">
        <svg class="icon-svg-info"><use xlink:href="#info"></use></svg>
    </i>
    <div class="catalog-item__img">
        <img src="<%- movie.poster_min %>" alt="<%= movie.title %>" srcset="<%- movie.poster_big %> 2x">
    </div>
    <div class="catalog-item__title"><%- movie.title %><%- movie.year ? ' <small>(' + movie.year + ')</small>' : '' %></div>
</div>